---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

// Get the current language and translation function
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<section class="py-12 px-4" id="what-is-invisible-text">
    <div class="max-w-3xl mx-auto text-center">
        <h2 class=" text-yellow-400 mb-2 leading-tight text-center">{t("about.whatIs.title")}</h2>
        <p class="text-lg text-white leading-relaxed text-center">{t("about.whatIs.description")}</p>
    </div>
</section>
