---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

// Get the current language and translation function
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="py-16 mt-8">
  <div class="max-w-1200 mx-auto px-6">
    <h2 class="text-center text-yellow-400 mb-2">{t("why.title")}</h2>

    <p class="max-w-4xl mx-auto py-4 text-gray-300 text-center">{t('why.intro')}</p>
    <div class="bg-white bg-opacity-5 border border-white border-opacity-10 rounded-lg p-6 mb-8">
      <h3 class="text-white mb-4">{t('why.whyuse.title')}</h3>
      <p class="mb-2 text-gray-300">{t('why.whyuse.description')}</p>
      <ul class="list-disc pl-6 mb-2">
        <li class="text-gray-300">{t("why.whyuse.use1")}</li>
        <li class="text-gray-300">{t("why.whyuse.use2")}</li>
        <li class="text-gray-300">{t("why.whyuse.use3")}</li>
        <li class="text-gray-300">{t("why.whyuse.use4")}</li>
        <li class="text-gray-300">{t("why.whyuse.use5")}</li>
        <li class="text-gray-300">{t("why.whyuse.use6")}</li>
        <li class="text-gray-300">{t("why.whyuse.use7")}</li>
      </ul>
      <p>
        {t("why.intro").split("invisibletext.me")[0]}
        {t("why.intro").split("invisibletext.me")[1]}
      </p>
    </div>

    <div class="mt-12  bg-opacity-5 border border-white border-opacity-10 rounded-lg p-6">
      <h3 class="text-white mb-4">{t("why.benefits.title")}</h3>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div class="flex flex-col items-center text-center p-4 bg-white bg-opacity-5 rounded-lg">
          <h4 class="text-white/90  mb-2">{t("why.features.accuracy.title")}</h4>
          <p class="text-base text-gray-300">{t("why.features.accuracy.description")}</p>
        </div>

        <div class="flex flex-col items-center text-center p-4 bg-white bg-opacity-5 rounded-lg">
          <h4 class="text-white/90 mb-2">{t("why.features.totallyFree.title")}</h4>
          <p class="text-base text-gray-300">{t("why.features.totallyFree.description")}</p>
        </div>

        <div class="flex flex-col items-center text-center p-4 bg-white bg-opacity-5 rounded-lg">
          <h4 class="text-white/90 mb-2">{t("why.features.unlimitedCharacters.title")}</h4>
          <p class="text-base text-gray-300">{t("why.features.unlimitedCharacters.description")}</p>
        </div>

        <div class="flex flex-col items-center text-center p-4 bg-white bg-opacity-5 rounded-lg">
          <h4 class="text-white/90 mb-2">{t("why.benefits.privacy.title")}</h4>
          <p class="text-base text-gray-300">{t("why.features.easyToUse.description")}</p>
        </div>

        <div class="flex flex-col items-center text-center p-4 bg-white bg-opacity-5 rounded-lg">
          <h4 class="text-white/90 mb-2">{t("why.features.oneClickCopy.title")}</h4>
          <p class="text-base text-gray-300">{t("why.features.oneClickCopy.description")}</p>
        </div>

        <div class="flex flex-col items-center text-center p-4 bg-white bg-opacity-5 rounded-lg">
          <h4 class="text-white/90 mb-2">{t("why.features.noSignup.title")}</h4>
          <p class="text-base text-gray-300">{t("why.features.noSignup.description")}</p>
        </div>
      </div>
    </div>
  </div>
</section>
