---
import Layout from '../../layouts/Layout.astro';
import Intro from '../../components/Intro.astro';
import WhtIsInvisibleTxt from '../../components/WhtIsInvisibleTxt.astro';
import WhySection from '../../components/WhyUse.astro';
import PracticalUseCasesSection from '../../components/PracticalUseCasesSection.astro';
import InvisibleTextGenerator from '../../components/InvisibleTextGenerator.astro';
import TypesOfInvisibleText from '../../components/Types.astro';
import FAQSection from '../../components/FAQ.astro';
import UnicodeTable from '../../components/UnicodeTable.astro';
import BlogSection from '../../components/BlogSection.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import { languages } from '../../i18n/ui';

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({
    params: { lang },
  }));
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
export const prerender = true;
---

<Layout title={t('meta.title')} description={t('meta.description')}>
  <div class="flex-1">
    <h1 class="text-center mt-8">{t("invisibletext.title")}</h1>
    <p class="text-center">
      {t("invisibletext.description")}
    </p>
    <InvisibleTextGenerator />
    <Intro />
    <WhtIsInvisibleTxt />
    <TypesOfInvisibleText />
    <UnicodeTable />
    <WhySection />
    <PracticalUseCasesSection />
    <BlogSection />
    <FAQSection />
  </div>
</Layout>